/*
#1F2937 dark background color for header and footer

48px extra-bold #F9FAF8 for header main text "This website is awesome"

header secondary text & header link text: 18px #E5E7EB

Header logo text: 24px #F9FAF8

Button color & call to action background color:#3882F6

Information header text: 36px extra bold #1F2937

Quote section background color #E5E7EB

Quote Text: 36px light italic #1F2937
*/

.section1{
    background-color: #1f2937;
    display: flex;
    gap: 100px;
    border: 4px red;
}

#text1{
    border: red;
    color: white;
    font-weight: bold;
    display: inline-block;
}

#headerlink1{
    border: red;
    color: gray;
}

#headerlink2{
    border: red;
    color: #808080;
}

#headerlink3{
    border: red;
    color: gray;
}

.section2{
    background-color: #1f2937;
    border: 10px;
    height: 125px;
}

#text2{

    border: red;
    color: white;
    font-weight: bold;
    display: inline-block;
}

.section3{
    background-color: white;
    border: 10px;
    height: 125px;
}

#text3{

}

.section4{
    background-color: gray;
    border: 10px;
    height: 125px;
}

#text4{

}

.section5{


}

#text5{

}

.section6{
    background: #1f2937;
    border: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text6{
    color: gray;
    align-items: center;
    font-size: 10px;

}